<% if @destination.errors.any? %>
<ul>
  <% @destination.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>
<% end %>

<h3>Add a New Destination</h3>

<div class="row">
  <div class="col-lg-6">

    <%= form_tag "/destinations" do %>
      <p>Name: <input name="name" value="<%= @destination.name %>" type="text" autofocus class="form-control"></p>
      <textarea name="introduction" class="form-control" rows="10" placeholder="At least 300 characters."><%= @destination.introduction %></textarea>
      <p>Cover_url: <input name="cover_url" value="<%= @destination.cover_url %>"type="text" class="form-control"></p>
      <button class="btn btn-success">Submit</button>
    <% end %>

  </div>
</div>
