<% user_id = session[:user_id] %>
<% review_id = params["id"] %>
<% review = Review.find_by(id: review_id) %>
<% attraction = Attraction.find_by(id: review.attraction_id) %>

<h3>Editing your review on <%= attraction.name %></h3>

<%= form_tag "/reviews/#{review_id}", method: "patch" do %>
  <p>Pick a rating:
    <% ratings = [5,4,3,2,1] %>
    <% ratings.each do |rating| %>
      <% if review.rating == rating %>
        <input type="radio" name="rating" value="<%= rating %>" checked> <%= rating %>
      <% else %>
        <input type="radio" name="rating" value="<%= rating %>"> <%= rating %>
      <% end %>
    <% end %>
  </p>

  <p>Leave a comment:
  <textarea name="comment" class="form-control" rows="5" placeholder="At most 2000 characters."><%= review.comment %></textarea>
  </p>
  <button class="btn btn-success">Update Review</button>
<% end %>
