<% attraction = Attraction.find_by(id: params["id"]) %>

<h3>Editing <%= attraction.name %></h3>

<div class="row">
  <div class="col-lg-6">

    <%= form_tag "/attractions/#{attraction.id}", method: "patch" do %>

      <p>Name: <input value="<%=attraction.name %>" name="name" type="text" autofocus class="form-control"></p>
      <p>Destination:</p>
      <select name="destination">
        <% Destination.all.order("name").each do |destination| %>
          <% if attraction.destination_id == destination.id %>
            <option selected="selected" value="<%= destination.id %>"><%= destination.name %></option>
          <% else %>
            <option value="<%= destination.id %>"><%= destination.name %></option>
          <% end %>
        <% end %>
      </select>
      <p>Category:</p>
      <select name="category">
        <% Category.all.order("name").each do |category| %>
          <% if attraction.category_id == category.id %>
            <option selected="selected" value="<%= category.id %>"><%= category.name %></option>
          <% else %>
            <option value="<%= category.id %>"><%= category.name %></option>
          <% end %>
        <% end %>
      </select>
      <p>Website: <input value="<%=attraction.website %>" name="website" type="text" class="form-control"></p>
      <p>Address: <input value="<%=attraction.address %>" name="address" type="text" class="form-control"></p>
      <p>Image_url: <input value="<%=attraction.image_url %>" name="image_url" type="text" class="form-control"></p>
      <button class="btn btn-primary">Submit</button>
    <% end %>

  </div>
</div>
