<% if @attraction.errors.any? %>
<ul>
  <% @attraction.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>
<% end %>

<h3>Add a New Attraction</h3>

<div class="row">
  <div class="col-lg-6">

    <%= form_tag "/attractions" do %>

      <p>Name: <input name="name" value="<%= @attraction.name%>" type="text" autofocus class="form-control"></p>
      <p>Destination:</p>
      <select name="destination">
        <% Destination.all.order("name").each do |destination| %>
          <option value="<%= destination.id %>"><%= destination.name %></option>
        <% end %>
      </select>
      <p>Category:</p>
      <select name="category">
        <% Category.all.order("name").each do |category| %>
          <option value="<%= category.id %>"><%= category.name %></option>
        <% end %>
      </select>
      <p>Website: <input name="website" value="<%= @attraction.website%>" type="text" class="form-control"></p>
      <p>Address: <input name="address" value="<%= @attraction.address%>" type="text" class="form-control"></p>
      <p>Image_url: <input name="image_url" value="<%= @attraction.image_url%>" type="text" class="form-control"></p>
      <button class="btn btn-success">Submit</button>
    <% end %>

  </div>
</div>
